node_modules
.next
.git
.env
.env*.local
prisma/*.db
prisma/*.db-journal
uploads
src/modules/piston
VIZIOON-BREW
src/modules/runtimes/**/bin
src/modules/runtimes/**/conf
src/modules/runtimes/**/include
src/modules/runtimes/**/jmods
src/modules/runtimes/**/legal
src/modules/runtimes/**/lib
src/modules/runtimes/**/share
src/modules/runtimes/**/man
src/modules/runtimes/**/release
src/modules/runtimes/**/*.tar.gz
