node_modules
.next
out
.vercel
*.tsbuildinfo
.env
.env*.local
prisma/*.db
prisma/*.db-journal
uploads/**
!uploads/.gitkeep
storage/**
!storage/.gitkeep
.DS_Store
src/modules/runtimes/**/bin
src/modules/runtimes/**/conf
src/modules/runtimes/**/include
src/modules/runtimes/**/jmods
src/modules/runtimes/**/legal
src/modules/runtimes/**/lib
src/modules/runtimes/**/share
src/modules/runtimes/**/man
src/modules/runtimes/**/release
src/modules/runtimes/**/*.tar.gz    
